.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.authorization-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
}

.email-input,
.password-input {
  padding: 10px;
  margin-bottom: 10px;
}

.login-button,
.registration-button {
  padding: 10px;
  margin-top: 10px
}

.error-input-form {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  color: red;
}